<!doctype html>
<html>
	<%- include("head", title) %>
    <body>
		<%- include("header") %> 
        <main>
			<form method="POST" action="/new">
				<label>
					mensaje
					<textarea name="msg" rows="5" required/></textarea>
				</label>
				<label>
					de
					<input type="text" name="user" required/>
				</label>
				<button type="submit">enviar</button>
			</form>
        </main>
    </body>
</html>
