<!doctype html>
<html>
	<%- include("head", title) %>
    <body>
		<%- include("header") %> 
        <h1>nueva pipol</h1>
        <main>
			<form method="POST" action="/new">
				<label>
					mensaje
					<input type="text" name="msg"/>
					<input type="text" name="user"/>
					<button type="submit">enviar</button>
				<label>
			</form>
        </main>
    </body>
</html>
