<!doctype html>
<html>
	<%- include("head", title)%>
    <body>
		<%- include("header") %> 
        <main>
			<% messages.map((msg) => { %> 
				<%- include("card.ejs", { msg }) %>
			<% }) %>
        </main>
    </body>
</html>
