<!doctype html>
<html>
	<%- include("head", title)%>
    <body>
		<%- include("header") %> 
        <main>
			<div class="single_msg">
				<p class="msg"><%= text %></p>
				<p class="date"><%= added %></p>
			</div>
        </main>
    </body>
</html>
